<footer class="bg-light">
    <%# <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 col-12">
                <h5>メニューリスト</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">ランチ</a></li>
                    <li><a class="text-muted" href="#">ディナー</a></li>
                    <li><a class="text-muted" href="#">デザート</a></li>
                    <li><a class="text-muted" href="#">ドリンク</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-12">
                <h5>menu</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">link</a></li>
                    <li><a class="text-muted" href="#">link</a></li>
                    <li><a class="text-muted" href="#">link</a></li>
                    <li><a class="text-muted" href="#">link</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-12">
                <h5>menu</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">link</a></li>
                    <li><a class="text-muted" href="#">link</a></li>
                    <li><a class="text-muted" href="#">link</a></li>
                    <li><a class="text-muted" href="#">link</a></li>
                </ul>
            </div>
        </div>
    </div> %>
    <div class="bg-dark text-white py-3">
        <div class="text-center">
            <h6>20XX© あなたのサイト名 All Rights Reserved </h6>
        </div>
    </div>
</footer>