

<header class="top-page">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container"> <a class="navbar-brand" href="#">
        <%#= image_tag src="template-logo01-wt.png" , class:"logo"%>
        </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto py-3 py-lg-0 mt-3 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#sec1">MENU</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#sec2">MENU</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#sec3">MENU</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#sec4">MENU</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#sec5">MENU</a> </li>
                </ul>
                <div class="text-center text-white pb-2 pb-lg-0"> <a class="btn btn-block btn-outline-light py-3 font-weight-bold" href="contact/index.html" role="button">Webでのご予約はこちら</a> </div>
            </div>
        </div>
    </nav>
    <!-- /.jumbotron --> 
</header>