 <%= render "shared/header" %>

            <section class="py-4">
                <h2 class="mb-3 h4 font-weight-bold">お知らせ</h2>
                <ul class="h5 list-unstyled">
                    <li class="p-4 border-top border-bottom"> <a href="#"> <span class="">2018.09.21</span> <span class="bg-info p-2 mx-lg-3 my-1 text-white rounded d-block d-lg-inline text-center">イベント情報</span> <span>Instagramキャンペーン開始</span> </a> </li>
                    <li class="p-4 border-bottom"> <a href="#"> <span class="">2018.09.21</span> <span class="bg-info p-2 mx-lg-3 text-white rounded d-block d-lg-inline text-center">イベント情報</span> <span>Instagramキャンペーン開始</span> </a> </li>
                </ul>
            </section>

<%= render "shared/footer" %>